<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Cat Site <%= @user.username %>!</h1>
    <p>It's great that you're here!</p>
  </body>