<% @title = 'Register' %>

<h1>Register New User</h1>

<% if flash[:error] %>
    <% flash[:error].each do |key, value| %>
        <div class="error"><%= key %> <%= value %></div>
    <% end %>
<% end %>

<%= render 'shared/login_form' %>